*{
margin: 0;
padding: 0;
}
body{
background-color: #dfe7e9;
font-family: 'Montserrat', sans-serif;
color: #636363;
}
::placeholder {
color: #999999;
opacity: 1;
text-align: left !important;
font-size: 12px;
}
:-ms-input-placeholder {
color: #999999;
text-align: left;
font-size: 12px;
}
::-ms-input-placeholder {
color: #999999;
text-align: left;
font-size: 12px;
}
.form-box{
width: 340px;
margin: 100px auto 20px;
background-color: #FFFFFF ;
border-radius: 2px;
padding: 45px 30px 0px ;
box-shadow: 0px 2px 2px grey;
}
.form-box form input{
width: 200px;
margin-bottom: 1px;
padding: 1px 11px;
background: transparent;
border: none;
text-align: left;
}
.form-box form input:focus{
outline:none;
}
.btn{
background: #5cb85c !important ;
color: white;
width: 280px !important;
height: 35px;
font-weight: bold;
text-align: center !important;
font-size: 15px;
border-radius: 20px;
}
.btnp{
padding-bottom: 45px;
text-align: center;
}
h2{
width: 240px;
margin: 0px auto;
}
.headertext{
font-size: 10px;
margin: 15px;
padding-bottom: 10px;
}
.fills{
border: 1px solid #e1e1e1;
border-radius: 20px;
padding: 5px;
margin: 20px;
}
a{
color: #5cd3b4;
text-decoration: none;
}
.fbbtn{
color: white;
background-color: #507cc0;
border: 1px solid white;
border-radius: 20px;
padding:10px;
margin: 10px 13px 35px;
}
.ttbtn{
color: white;
background-color: #64ccf1;
border: 1px solid white;
border-radius: 20px;
padding:10px;
margin: 10px 13px 35px;
}
.ggbtn{
color: white;
background-color: #df4930;
border: 1px solid white;
border-radius: 20px;
padding:10px;
margin: 10px 13px 35px;
}
.ordiv{
text-align: center;
color: black;
width: 20px;
height: 20px;
padding: 5px;
background-color: white;
border: 1px solid #e1e1e1;
border-radius: 50px;
margin: auto;
position: relative;
bottom: 18px;
}