*{
margin: 0px;
padding:0px;
}
body{
background: rgb(41,182,95);
background: linear-gradient(45deg, rgba(41,182,95,1) 0%, rgba(17,189,44,1) 0%, rgba(14,230,110,1) 41%, rgba(7,215,207,1) 100%);

}
.description{
width: 600px;
margin: 0 auto;
font-size: 25px;
color: #212F3C;
}
.navbar{
background-color:  #1ABC9C;
padding: 6px;
box-shadow: -5px 1px 6px #888889;
}
.menubar{
text-align: center;
margin: 15px;

}
.menubar ul li{
list-style: none;
display: inline-block;
}
.menubar ul li a{
color: white;
text-decoration: none;
font-weight: bold;
font-size: 20px;
padding: 10px;
margin-right: 10px;
text-align: center;
border-bottom: 1px solid #A1FFEB;
}
.menubar ul li a:hover{
color:#148F77;
border-bottom: 1px solid #148F77;
transform: scalex(2);
}
.social-icon{
text-align: center;
font-size: 40px;
}
.social-icon ul li{
list-style: none;
display: inline-block;
}
.social-icon ul li a i{
height: 60px;
width: 60px;
background-color: rgba(255, 255, 255,0.6)  ;
color: black;
line-height: 60px;
border-radius: 20px;
transition: 0.5s;
margin-right: 10px;

}
.social-icon ul li a i:hover{
background-color:  rgba(200, 200, 200,0.6);
transform: scale(0.8);
transition: 0.2s;
}
.subscribe{
width: 400px;
margin: 40px auto;
border-radius: 10px;
background-color: rgba(255, 255, 255,0.6)  ;
text-align: center;
padding: 32px 20px;

}
h3 {
margin-top: -8px;
margin-bottom: 21px;
font-size: 24px;
}
input{
padding: 10px 20px;
background-color: transparent;
border: none;
border-bottom: 1px solid #148F77;
}
input:focus{
outline: none;
}
.submit-btn {
background: skyblue;
color: white;
border: 1px solid white;
cursor: pointer;
transition: 0.4s;
border-radius: 15px;
}
.submit-btn:hover{
background-color: aqua;
border: 1px solid grey;
transition: 0.2s;
}
.post img{
width: 400px;
height: 400px;
}
.post{
width: 450px;
margin: auto;
position: relative;
}
.caption{
position: absolute;
top: 314px;
left: 67px;
color: green;
}